.Btn {
  background-color: var(--primary-dark);
  width: fit-content;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: var(--radius);
  position: relative;
  overflow: hidden;
}

.Btn span {
  position: relative;
  z-index: 2;
}

.Btn::before,
.Btn::after {
  content: "";
  display: block;
  height: 51%;
  width: 100%;
  background-color: var(--primary);
  left: 0;
  position: absolute;
  transition: transform 0.3s ease;
}

.Btn::before {
  transform-origin: top;
  top: 0;
}

.Btn::after {
  transform-origin: bottom;
  bottom: 0;
}

.Btn:hover::after,
.Btn:hover::before {
  transform: scaleY(0);
}

.Btn.services {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: var(--fs-md);
  width: max-content;
}
