.Modal {
  background-color: rgba(238, 238, 238, 0.9);
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100dvw;
  height: 100dvh;
  top: 0;
  left: 0;
  z-index: 1001;
}

.ModalWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 95%;
  margin-top: 1rem;
}

.Close {
  font-size: var(--fs-xs);
  background-color: var(--gray);
  align-self: flex-end;
  border: none;
  padding: 0.5rem;
  border-radius: var(--radius);
  transition: background-color 0.3s ease;
}

.Close:hover {
  background-color: var(--dark-900);
}
