.Button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: none;
  padding: 0.2rem;
}

.Button div {
  width: 100%;
  height: 2px;
  background-color: var(--black);
  transform-origin: right;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.Button div:nth-child(2) {
  width: 50%;
  align-self: flex-end;
}

.Button.active div:nth-child(1) {
  transform: rotate(-40deg);
}

.Button.active div:nth-child(2) {
  opacity: 0;
}

.Button.active div:nth-child(3) {
  transform: rotate(40deg);
}

/* DESKTOP */

@media (min-width: 1024px) {
  .Button {
    display: none;
  }
}
