.Form {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 1rem;
  border-radius: var(--radius-m);
  gap: 1rem;
  max-height: 85dvh;
  overflow-y: auto;
  max-width: 100%;
  box-shadow: var(--shadow);
}

.Form::-webkit-scrollbar {
  width: 5px;
}

.Form::-webkit-scrollbar-track {
  background: var(--gray); /* Color de fondo de la barra */
  border-radius: 10px;
}

.Form::-webkit-scrollbar-thumb {
  background: var(--dark-900); /* Color del pnavgar (thumb) */
  border-radius: 10px;
}

.Form h2 {
  text-align: center;
  max-width: 30ch;
  margin: 0 auto;
  font-size: var(--fs-md);
}

.Field {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.Label {
  font-size: var(--fs-xs);
  color: var(--dark-900);
}

.Input,
.Select,
.Textarea {
  max-width: 100%;
  display: flex;
  border-radius: var(--radius);
  border: 1px solid var(--gray);
  padding: 0.3rem 0.5rem;
  font-size: var(--fs-sm);
  color: var(--dark-300);
}

.Textarea {
  resize: none;
}

.Submit {
  font-size: var(--fs-sm);
}

/* DESKTOP */

@media (min-width: 1024px) {
  .Form {
    position: sticky;
    top: calc(var(--header-height) * 1.25);
  }
}
