.wrapper {
  width: 95%;
  max-width: 1200px;
  margin-inline: auto;
}

.not-scrollable {
  overflow: hidden;
}

/* BUTTONS */

.btn {
  background: linear-gradient(90deg, var(--primary), var(--secondary));
  border: none;
  border-radius: var(--radius);
  padding: 0.5rem;
  font-size: var(--fs-md);
}

.btn-border {
  border: 1px solid var(--primary);
  color: var(--primary);
  padding: 0.5rem;
  border-radius: var(--radius);
  text-align: center;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-gradient-primary {
  background: linear-gradient(90deg, var(--primary), var(--secondary));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gradient-circle {
  background-color: #ffffff;
  background-image: radial-gradient(
      at 88% 96%,
      rgba(5, 147, 162, 0.3) 0px,
      transparent 50%
    ),
    radial-gradient(at 0% 12%, rgb(217, 217, 217) 0px, transparent 50%);
}

.mt-1 {
  margin-top: 1rem;
}

.mt-6 {
  margin-top: 6rem;
}

.delimit-text {
  max-width: 60ch;
}

.strong {
  font-family: var(--base-bold);
}

/* SHADOW MASK */

.mask-1 {
  position: relative;
}

.mask-1::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+1,000000+100&0.8+0,0.4+50,0+100 */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.79) 1%,
    rgba(0, 0, 0, 0.4) 50%,
    rgba(0, 0, 0, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/* ANIMATIONS */

.fade {
  animation: fade 0.3s ease;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.move-up {
  animation: move-up 0.3s ease forwards;
}

@keyframes move-up {
  0% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}
