.wrapper {
  width: 95%;
  max-width: 1200px;
  margin-inline: auto;
}

.btn {
  background: linear-gradient(90deg, var(--primary), var(--secondary));
  border: none;
  border-radius: var(--radius);
  padding: 0.5rem;
}

.text-gradient-primary {
  background: linear-gradient(90deg, var(--primary), var(--secondary));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gradient-circle {
  background-color: #ffffff;
  background-image: radial-gradient(
      at 88% 96%,
      rgba(5, 147, 162, 0.3) 0px,
      transparent 50%
    ),
    radial-gradient(at 0% 12%, rgb(217, 217, 217) 0px, transparent 50%);
}

/* ANIMATIONS */

.fade {
  animation: fade 0.3s ease;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.move-up {
  animation: move-up 0.3s ease forwards;
}

@keyframes move-up {
  0% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}
