---
import H1Heading from "@/components/H1Heading.astro";
import PageSection from "@/components/PageSection.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
---

<Layout>
  <PageSection>
    <H1Heading> blog </H1Heading>
    <ul>
      {
        posts.map(({ data, slug }) => {
          return (
            <li>
              <a href={`/${slug}`}>{data.h1}</a>
            </li>
          );
        })
      }
    </ul>
  </PageSection>
</Layout>
