---
import AboutMe from "@/components/AboutMe.astro";
import Above from "@/components/Above.astro";
import CenterContent from "@/components/CenterContent.astro";
import Heading from "@/components/Heading.astro";
import HighlightPosts from "@/components/HighlightPosts.astro";
import HowWorkingCards from "@/components/HowWorkingCards.astro";
import MainCta from "@/components/MainCta.astro";
import { MainForm } from "@/components/preact/MainForm";
import Section from "@/components/Section.astro";
import ServicesCards from "@/components/ServicesCards.astro";
import ShortDescription from "@/components/ShortDescription.astro";
import SubHeading from "@/components/SubHeading.astro";
import TargetCards from "@/components/TargetCards.astro";
import TestimonialCards from "@/components/TestimonialCards.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <Above />
  <Section>
    <Heading> mis servicios </Heading>
    <ServicesCards />
  </Section>
  <Section>
    <Heading> cómo trabajaremos </Heading>
    <HowWorkingCards />
    <CenterContent modifier="how-working-section">
      <SubHeading>solicita información</SubHeading>
      <ShortDescription>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo ea
        assumenda esse. Excepturi nulla doloribus quia veritatis nobis
        blanditiis voluptatem quisquam, illum pariatur beatae sint molestias
        veniam eos obcaecati voluptatibus.
      </ShortDescription>
      <MainCta>más información</MainCta>
    </CenterContent>
  </Section>
  <Section>
    <Heading> perito médico judicial </Heading>
    <p class="mt-1 delimit-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ipsam quod
      quo blanditiis, voluptate molestiae asperiores eaque, nemo magnam autem
      sapiente delectus incidunt deleniti quasi in facere labore. Excepturi,
      eum.
    </p>
    <TargetCards />
  </Section>
  <Section>
    <Heading> sobre mi </Heading>
    <p class="mt-1 delimit-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ipsam quod
      quo blanditiis, voluptate molestiae asperiores eaque, nemo magnam autem
      sapiente delectus incidunt deleniti quasi in facere labore. Excepturi,
      eum.
    </p>
    <AboutMe />
    <MainForm modifier="about-me" />
  </Section>
  <Section>
    <Heading>empresas y particulares satisfechos</Heading>
    <TestimonialCards />
  </Section>
  <Section>
    <Heading> artículos destacados </Heading>
    <HighlightPosts />
  </Section>
</Layout>
