---
import Above from "@/components/Above.astro";
import Heading from "@/components/Heading.astro";
import Section from "@/components/Section.astro";
import ServicesCards from "@/components/ServicesCards.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <Above />
  <Section>
    <Heading> mis servicios </Heading>
    <ServicesCards />
  </Section>
</Layout>
