---
import AboutMe from "@/components/AboutMe.astro";
import Above from "@/components/Above.astro";
import CenterContent from "@/components/CenterContent.astro";
import FAQ from "@/components/FAQ.astro";
import Heading from "@/components/Heading.astro";
import HighlightPosts from "@/components/HighlightPosts.astro";
import HowWorkingCards from "@/components/HowWorkingCards.astro";
import MainCta from "@/components/MainCta.astro";
import { MainForm } from "@/components/preact/MainForm";
import Section from "@/components/Section.astro";
import ServicesCards from "@/components/ServicesCards.astro";
import ShortDescription from "@/components/ShortDescription.astro";
import SubHeading from "@/components/SubHeading.astro";
import TargetCards from "@/components/TargetCards.astro";
import { FAQ_HOME } from "@/data/faqs";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <Above />
  <Section>
    <Heading> mis servicios </Heading>
    <ServicesCards />
  </Section>
  <Section>
    <Heading> cómo trabajaremos </Heading>
    <HowWorkingCards />
    <CenterContent modifier="how-working-section">
      <SubHeading>solicita información</SubHeading>
      <ShortDescription>
        Estoy aquí para ayudarte. Si necesitas orientación sobre tu caso, los
        informes o el proceso, puedes ponerte en contacto sin ningún tipo de
        compromiso. Estudiaré tu situación y te daré una respuesta clara.
      </ShortDescription>
      <MainCta>más información</MainCta>
    </CenterContent>
  </Section>
  <Section>
    <Heading> perito médico judicial </Heading>
    <p class="mt-1 delimit-text">
      Como perito médico, colaboro con diferentes perfiles profesionales e
      institucionales, ofreciendo informes rigurosos y asesoramiento experto en
      procedimientos judiciales, reclamaciones o valoraciones.
    </p>
    <TargetCards />
  </Section>
  <Section>
    <Heading> sobre mi </Heading>
    <p class="mt-1 delimit-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ipsam quod
      quo blanditiis, voluptate molestiae asperiores eaque, nemo magnam autem
      sapiente delectus incidunt deleniti quasi in facere labore. Excepturi,
      eum.
    </p>
    <AboutMe />
    <MainForm modifier="about-me" />
  </Section>
  <Section>
    <CenterContent modifier="how-working-section">
      <Heading> preguntas frecuentes </Heading>

      <FAQ faqs={FAQ_HOME} />
    </CenterContent>
  </Section>
  <Section>
    <Heading> artículos destacados </Heading>
    <HighlightPosts />
  </Section>
</Layout>
