---
import { Image } from "astro:assets";
import laura from "@/assets/mark/test-2.webp";
import { MainForm } from "@/components/preact/MainForm";
import Phone from "./icons/Phone.astro";
import WhatsApp from "./icons/WhatsApp.astro";
import Email from "./icons/Email.astro";
import Linkedin from "./icons/Linkedin.astro";
---

<div class="about-me">
  <div>
    <p>
      Soy Laura Buendía, <span class="strong">tengo más de 10 años </span> de experiencia
      médica asistencial tanto en <span class="strong">
        Atención Primaria, Urgencias, Cuidados Paliativos y Medicina Estética.</span
      > Especialista en Medicina Familiar y Comunitaria vía MIR. <br />
      <span class="strong"
        >Máster en Cuidados Paliativos, Máster en Medicina Estética y Máster en
        Valoración del Daño Corporal,</span
      >
      Pericia Médica y Resolución Extrajudicial de Conflictos... <a
        class="read-more"
        href="/sobre-mi">Leer más</a
      >
    </p>
    <ul class="contact-links">
      <li>
        <a href="">
          <Phone />
        </a>
      </li>
      <li>
        <a href="">
          <WhatsApp />
        </a>
      </li>
      <li>
        <a href="">
          <Email />
        </a>
      </li>
      <li>
        <a href="">
          <Linkedin width={40} height={40} />
        </a>
      </li>
    </ul>
  </div>

  <div class="photo-wrap">
    <Image
      width={500}
      height={25}
      class="photo"
      src={laura}
      alt="foto de laura"
    />
  </div>

  <MainForm client:visible modifier="about-me" />
</div>

<style>
  .about-me {
    display: flex;
    flex-direction: column;
    margin: 3rem 0 0;
    gap: 5rem;
    position: relative;
  }

  .about-me p {
    line-height: 1.75;
  }

  .read-more {
    color: var(--primary);
    font-family: var(--base-bold);
  }

  .contact-links {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin: 2rem 0 0;
  }

  .contact-links a {
    color: var(--primary);
  }

  .photo {
    max-width: 20rem;
    mask-image: linear-gradient(var(--light) 40%, transparent 100%);
  }

  /* DESKTOP */

  @media (min-width: 1024px) {
    .about-me {
      flex-direction: row;
      justify-content: space-evenly;
      gap: 0;
    }
  }
</style>
