---
import { Image } from "astro:assets";
import abovePhoto from "@/assets/mark/laura_above.webp";
import photo from "@/assets/mark/laura_4_baja.webp";
import MainCta from "@/components/MainCta.astro";
---

<section class="bg-gradient-circle">
  <div class="wrapper above-wrap">
    <div class="presentation">
      <span class="name">laura buendía</span>
      <h1 class="text-gradient-primary">perito médico</h1>
      <p>
        Soy médico con más de 10 años de experiencia en la elaboración de
        <span class="strong"
          >informes periciales, informes de valoraciones del daño corporal,
          pérdida de oportunidad, mediación y asesoramiento a letrados.</span
        > Si necesita claridad y opinión experta en temas médico-legales contacte
        conmigo.
      </p>
      <MainCta />
    </div>

    <div class="photo">
      <picture class="image-mask">
        <Image
          loading="eager"
          src={photo}
          alt="foto de Laura Buendía perita médica"
          width={800}
          height={533}
        />
      </picture>
    </div>
  </div>
</section>

<style>
  section {
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .above-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    gap: 2rem;
    margin-top: calc(var(--header-height) * 1.5);
    padding: 0 0 3rem;
  }

  .presentation {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .name {
    text-transform: capitalize;
    font-family: var(--base-bold);
    font-size: var(--fs-xl);
  }

  h1 {
    font-size: var(--fs-4xl);
    line-height: 1;
  }

  .image-mask {
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-full);
    mask-image: linear-gradient(var(--light) 50%, transparent 100%);
  }

  .image-mask img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  /* DESKTOP */
  @media (min-width: 1024px) {
    section {
      margin-top: 0;
    }

    .above-wrap {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0;
    }

    .image-mask {
      width: 25rem;
      height: 25rem;
    }

    .presentation {
      flex: 0 0 60%;
    }

    .name {
      font-size: var(--fs-xl);
    }

    h1 {
      font-size: var(--fs-6xl);
    }
  }
</style>
