<div class="keypad">
  <button id="toc-btn" class="btn-border toc-btn" type="button">
    Tabla de contenido
  </button>
  <a
    class="btn-border"
    target="_blank"
    href={`https://api.whatsapp.com/send?text=${Astro.url}`}
  >
    Compartir en WhatsApp
  </a>
</div>

<script>
  import { isTocOpen } from "@/stores";

  const $btn = document.getElementById("toc-btn");

  if ($btn !== null) {
    $btn.addEventListener("click", () => {
      isTocOpen.set(!isTocOpen.get());
    });
  }

  isTocOpen.subscribe((visible) => {
    $btn?.classList.toggle("active", visible);
  });
</script>

<style>
  .keypad {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    font-size: var(--fs-xs);
    padding: 1rem;
    gap: 1rem;
    background: rgba(255, 255, 255, 0.7); /* Color semitransparente */
    -webkit-backdrop-filter: blur(10px); /* Compatibilidad con Safari */
    backdrop-filter: blur(10px); /* Aplica el desenfoque */
    box-shadow: var(--shadow);
    z-index: 60;
    min-height: var(--bottom-height);
  }

  .keypad * {
    flex: 1;
  }

  .toc-btn {
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }

  .toc-btn.active {
    background-color: var(--primary);
    color: var(--white);
  }

  @media (min-width: 1024px) {
    .keypad {
      display: none;
    }
  }
</style>
