---
import Email from "@/components/icons/Email.astro";
import WhatsApp from "@/components/icons/WhatsApp.astro";
import Phone from "@/components/icons/Phone.astro";
---

<ul>
  <li>
    <Phone />
  </li>
  <li>
    <WhatsApp />
  </li>
  <li>
    <Email />
  </li>
</ul>

<style>
  ul {
    display: flex;
    color: var(--primary);
    justify-content: space-between;
    max-width: 200px;
  }
</style>
