---
import { Email, Phone, WhatsApp } from "@/components/preact/Icons";
---

<ul>
  <li>
    <Phone />
  </li>
  <li>
    <WhatsApp />
  </li>
  <li>
    <Email />
  </li>
</ul>

<style>
  ul {
    display: flex;
    color: var(--primary);
    justify-content: space-between;
    max-width: 200px;
  }
</style>
