---
import Email from "@/components/icons/Email.astro";
import WhatsApp from "@/components/icons/WhatsApp.astro";
import Phone from "@/components/icons/Phone.astro";
import { GLOBAL_DATA, WHATSAPP_MSG } from "@/data/global";
---

<ul class="wrapper">
  <li>
    <a aria-label="Llamar por teléfono" href={GLOBAL_DATA.CALL_LINK}>
      <Phone />
    </a>
  </li>
  <li>
    <a
      aria-label="Enviar un WhatsApp"
      target="_blank"
      href={WHATSAPP_MSG.GENERAL}
    >
      <WhatsApp />
    </a>
  </li>
  <li>
    <a aria-label="Enviar un correo electrónico" href={GLOBAL_DATA.MAIL_TO}>
      <Email />
    </a>
  </li>
</ul>

<style>
  ul {
    border-top: 1px solid var(--gray);
    padding: 1rem 0 0;
    display: flex;
    gap: 2rem;
  }

  a {
    color: var(--primary);
  }

  @media (min-width: 1024px) {
    ul {
      display: none;
    }
  }
</style>
