---
import Email from "@/components/icons/Email.astro";
import WhatsApp from "@/components/icons/WhatsApp.astro";
import Phone from "@/components/icons/Phone.astro";
---

<ul class="wrapper">
  <li>
    <a href="tel:661082338">
      <Phone />
    </a>
  </li>
  <li>
    <a href="">
      <WhatsApp />
    </a>
  </li>
  <li>
    <a href="mailto:">
      <Email />
    </a>
  </li>
</ul>

<style>
  ul {
    border-top: 1px solid var(--gray);
    padding: 1rem 0 0;
    display: flex;
    gap: 2rem;
  }

  a {
    color: var(--primary);
  }

  @media (min-width: 1024px) {
    ul {
      display: none;
    }
  }
</style>
