---
import Linkedin from "@/components/icons/Linkedin.astro";
import WhatsApp from "@/components/icons/WhatsApp.astro";
import Email from "@/components/icons/Email.astro";
import Phone from "@/components/icons/Phone.astro";
import Location from "@/components/icons/Location.astro";
---

<footer>
  <div class="wrapper footer-wrap">
    <nav>
      <h2>servicios</h2>
      <ul>
        <li>
          <a href="/servicios/valoracion-dano-corporal">
            <span> valoración del daño corporal </span>
          </a>
        </li>
        <li>
          <a href="/servicios/informes-periciales"> informes periciales </a>
        </li>
        <li>
          <a href="/servicios/accidentes-de-trafico-y-hogar">
            <span> accidentes de tráfico y hogar </span>
          </a>
        </li>
        <li>
          <a href="/servicios/informes-viabilidad">
            <span> informes de viabilidad </span>
          </a>
        </li>

        <li>
          <a href="/servicios/perdida-de-oportunidad">
            <span> perdida de oportunidad </span>
          </a>
        </li>

        <li>
          <a href="/servicios/asesoramiento-a-letrados">
            <span> asesoramiento a letrados </span>
          </a>
        </li>
        <li>
          <a href="/servicios/mediacion">
            <span> mediación </span>
          </a>
        </li>
        <li>
          <a href="/servicios/ratificaciones-judiciales">
            <span> ratificaciones judiciales </span>
          </a>
        </li>
      </ul>
    </nav>
    <nav>
      <h2>Blog</h2>
      <ul>
        <li>
          <a href="/peritaje-medico/que-es-un-peritaje-medico">
            <span> ¿Qué es un peritaje médico? </span>
          </a>
        </li>
        <li>
          <a
            href="/peritaje-medico/perito-medico-especialista-en-valoracion-de-danos-corporales"
          >
            <span> Especialista en valoración de daños corporales </span>
          </a>
        </li>
        <li>
          <a href="/accidentes-de-trafico/calcular-indemnizacion">
            <span> calcular indemnización </span>
          </a>
        </li>
        <li>
          <a href="/accidentes-de-trafico/indemnizacion-por-latigazo-cervical">
            <span> indemnización por latigazo cervical </span>
          </a>
        </li>
      </ul>
    </nav>

    <nav class="contact-nav">
      <h2>contacto</h2>
      <ul>
        <li>
          <a href="">
            <Phone width={20} height={20} />
            <span> 658 147 228 </span>
          </a>
        </li>
        <li>
          <a href="">
            <WhatsApp width={20} height={20} />
            <span> whatsApp </span>
          </a>
        </li>
        <li>
          <a href="">
            <Email width={20} height={20} />
            <span> info@laurabuendia.com </span>
          </a>
        </li>
        <li>
          <a
            href="https://es.linkedin.com/in/laura-buend%C3%ADa-8a1b86197"
            target="_blank"
            rel="noopener"
          >
            <Linkedin />
            <span> linkedin </span>
          </a>
        </li>
        <li>
          <a
            href="https://maps.app.goo.gl/q83hZFmFNvdiyTfk8"
            target="_blank"
            rel="noopener"
          >
            <Location />
            <span>
              Hospital Beata María Ana, C. del Dr. Esquerdo, 83, Retiro, 28007
              Madrid
            </span>
          </a>
        </li>
      </ul>
    </nav>

    <nav class="nav-legal">
      <ul>
        <li>
          <a href="/legal/aviso-legal">
            <span> aviso legal </span>
          </a>
        </li>
        <li>
          <a href="/legal/politica-cookies">
            <span> política de cookies </span>
          </a>
        </li>
        <li>
          <a href="/legal/politica-privacidad">
            <span> política de privacidad </span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>

<style>
  footer {
    margin: 10rem 0 0;
    background-color: var(--white);
    padding: 2rem 0;
  }

  .footer-wrap {
    display: grid;
    gap: 2rem;
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  ul:not(.nav-legal ul) {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  h2 {
    font-size: var(--fs-md);
    color: var(--dark-900);
  }

  a {
    display: flex;
    align-items: center;
    font-size: var(--fs-sm);
    color: var(--dark-500);
    transition: color 0.3s ease;
  }

  .contact-nav a {
    color: var(--dark-500);
    font-size: var(--fs-sm);
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 0.5rem;
  }

  .nav-legal {
    border-top: 1px solid var(--gray);
    grid-column: 1 / -1;
    padding: 1rem 0;
    margin: 3rem 0 0;
  }

  @media (min-width: 1024px) {
    .footer-wrap {
      grid-template-columns: repeat(3, 1fr);
      max-width: 800px;
    }

    .nav-legal ul {
      display: flex;
      font-size: var(--fs-sm);
      gap: 3rem;
    }

    a:hover,
    .contact-nav a:hover {
      color: var(--primary);
    }
  }
</style>
