<h2 class:list={["text-gradient-primary", Astro.props.class]} class="">
  <slot />
</h2>

<style>
  h2 {
    font-size: var(--fs-3xl);
  }

  h2.text-center {
    text-align: center;
  }

  @media (min-width: 1024px) {
    h2 {
      font-size: var(--fs-5xl);
    }
  }
</style>
