---
import ContactWays from "@/components/ContactWays.astro";
import ShortArrow from "@/components/icons/ShortArrow.astro";
---

<nav id="header-nav">
  <ul class="ul">
    <li class="li li-with-submenu">
      <span class="span">servicios </span>
      <span class="arrow">
        <ShortArrow color="#999" />
      </span>
      <div class="submenu-ul-wrap">
        <ul class="submenu-ul">
          <li>
            <a class="a" href="/servicios/valoracion-dano-corporal">
              valoración del daño corporal
            </a>
          </li>
          <li>
            <a class="a" href="/servicios/informes-periciales">
              informes periciales
            </a>
          </li>
          <li>
            <a class="a" href="/servicios/accidentes-de-trafico-y-hogar">
              accidentes de tráfico y hogar
            </a>
          </li>
          <li>
            <a class="a" href="/servicios/informes-viabilidad">
              informes de viabilidad
            </a>
          </li>

          <li>
            <a class="a" href="/servicios/perdida-de-oportunidad">
              perdida de oportunidad
            </a>
          </li>

          <li>
            <a class="a" href="/servicios/reuniones-con-abogados">
              reuniones con abogados
            </a>
          </li>
          <li>
            <a class="a" href="/servicios/mediacion"> mediación </a>
          </li>
          <li>
            <a class="a" href="/servicios/ratificaciones-judiciales">
              ratificaciones judiciales
            </a>
          </li>
        </ul>
      </div>
    </li>

    <li class="li li-with-submenu">
      <span class="span">accidentes de tráfico </span>
      <span class="arrow">
        <ShortArrow color="#999" />
      </span>
      <div class="submenu-ul-wrap">
        <ul class="submenu-ul">
          <li>
            <a class="a" href="/servicios/informes-viabilidad">
              calcular indemnización
            </a>
          </li>
          <li>
            <a class="a" href="/servicios/informes-viabilidad">
              latigazo cervical
            </a>
          </li>
          <li>
            <a class="a" href="/servicios/informes-viabilidad">
              informe médico pericial
            </a>
          </li>
          <li>
            <a class="a" href="/servicios/informes-viabilidad">
              valoración del daño corporal
            </a>
          </li>
        </ul>
      </div>
    </li>

    <li class="li li-with-submenu">
      <span class="span">negligencias médicas </span>
      <span class="arrow">
        <ShortArrow color="#999" />
      </span>
      <div class="submenu-ul-wrap">
        <ul class="submenu-ul">
          <li>
            <a class="a" href="/servicios/informes-viabilidad">
              ¿Qué es una negligencia médica?
            </a>
          </li>
          <li>
            <a class="a" href="/servicios/informes-viabilidad">
              tipos de negligencia médica
            </a>
          </li>
        </ul>
      </div>
    </li>

    <!-- <li class="li li-with-submenu">
      <span class="span">mala praxis </span>
      <span class="arrow">
        <ShortArrow color="#999" />
      </span>
      <div class="submenu-ul-wrap">
        <ul class="submenu-ul">
          <li>
            <a class="a" href="/servicios/informes-viabilidad"> artículo 1 </a>
          </li>
        </ul>
      </div>
    </li> -->

    <li class="li">
      <a class="a" href="/blog">blog</a>
    </li>

    <li class="li">
      <a class="a" href="/contacto">contacto</a>
    </li>
  </ul>
  <ContactWays />
</nav>

<script>
  import { isMenuMobileOpen } from "@/stores";

  document.addEventListener("astro:page-load", () => {
    const $nav = document.getElementById("header-nav");

    isMenuMobileOpen.subscribe((value) => {
      $nav?.classList.toggle("active", value);
    });
  });

  document.addEventListener("astro:after-swap", () => {
    isMenuMobileOpen.set(false);
  });
</script>

<style>
  /* MOBILE */

  @media (max-width: 1024px) {
    nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100dvh;
      background-color: var(--light);
      z-index: -1;
      transform: translateX(-100%);
      transition: all 0.5s ease;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 2rem;
      padding: calc(var(--header-height)) 0 0;
    }

    nav.active {
      transform: translateX(0);
    }

    .ul {
      display: flex;
      flex-direction: column;

      width: 95%;
      max-width: 1200px;
      margin-inline: auto;

      gap: 1rem;
      max-height: 60dvh;
      overflow-y: auto;
      flex: 1;
    }

    .submenu-ul {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    .li {
      position: relative;
    }

    .li-with-submenu {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    .arrow {
      display: none;
    }

    .li:not(.li-with-submenu) .a {
      font-family: var(--base-bold);
      font-size: var(--base);
    }

    .a,
    .span {
      font-size: var(--fs-md);
      display: block;
    }

    .span {
      font-size: var(--fs-base);
      font-family: var(--base-bold);
    }

    nav.active .a,
    nav.active .span {
      transform: translateY(80%);
      opacity: 0;
      animation: rise-up 0.5s ease-out forwards;
      animation-delay: 0.5s;
    }

    @keyframes rise-up {
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
  /* DESKTOP */

  @media (min-width: 1024px) {
    .ul {
      display: flex;
      gap: 2rem;
    }

    .li-with-submenu {
      position: relative;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .li-with-submenu:hover .submenu-ul-wrap {
      display: flex;
      opacity: 1;
      visibility: visible;
      transform: translateY(0) translateX(50%);
    }

    .arrow {
      transition: transform 0.3s ease;
    }

    .li-with-submenu:hover .arrow {
      transform: rotate(180deg);
    }

    .submenu-ul-wrap {
      position: absolute;
      top: 100%;
      right: 50%;
      padding-top: 1.5rem;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-20px) translateX(50%);
      transition:
        transform 0.3s ease,
        opacity 0.3s ease,
        visibility 0.3s ease;
      width: 130%;
      height: 50px;
    }

    .submenu-ul {
      display: flex;
      background-color: var(--third);
      box-shadow: var(--shadow);
      flex-direction: column;
      gap: 0.5rem;
      padding: 1.5rem;
      border-radius: var(--radius);
      position: absolute;
      right: 50%;
      transform: translateX(50%);
    }

    .submenu-ul > li {
      display: flex;
      width: max-content;
    }

    .submenu-ul .a {
      font-size: var(--fs-sm);
    }

    .span {
      cursor: default;
    }

    .a,
    .span {
      transition: color 0.5s ease;
      font-size: var(--fs-sm);
    }

    .a:hover {
      color: var(--primary);
    }
  }
</style>
