---
import ContactWays from "@/components/ContactWays.astro";
---

<nav id="header-nav">
  <ul class="ul">
    <li class="li li-with-submenu">
      <span class="span">informes</span>

      <ul class="submenu-ul">
        <li>
          <a class="a" href=""> periciales </a>
        </li>
        <li>
          <a class="a" href=""> orientación </a>
        </li>
      </ul>
    </li>

    <li class="li li-with-submenu">
      <span class="span">valoraciones</span>

      <ul class="submenu-ul">
        <li>
          <a class="a" href=""> periciales </a>
        </li>
        <li>
          <a class="a" href=""> orientación </a>
        </li>
      </ul>
    </li>

    <li class="li">
      <a class="a" href="/">asistencia</a>
    </li>

    <li class="li">
      <a class="a" href="/blog">blog</a>
    </li>

    <li class="li">
      <a class="a" href="/">contacto</a>
    </li>
  </ul>
  <ContactWays />
</nav>

<script>
  import { isMenuMobileOpen } from "@/stores";

  document.addEventListener("astro:page-load", () => {
    const $nav = document.getElementById("header-nav");

    isMenuMobileOpen.subscribe((value) => {
      $nav?.classList.toggle("active", value);
    });
  });

  document.addEventListener("astro:after-swap", () => {
    isMenuMobileOpen.set(false);
  });
</script>

<style>
  /* MOBILE */

  @media (max-width: 1024px) {
    nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100dvh;
      background-color: var(--light);
      z-index: -1;
      transform: translateX(-100%);
      transition: all 0.5s ease;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 2rem;
      padding: calc(var(--header-height)) 0 0;
    }

    nav.active {
      transform: translateX(0);
    }

    .ul {
      display: flex;
      flex-direction: column;

      width: 95%;
      max-width: 1200px;
      margin-inline: auto;

      gap: 1rem;
      max-height: 60dvh;
      overflow-y: auto;
      flex: 1;
    }

    .submenu-ul {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    .li {
      position: relative;
    }

    .li-with-submenu {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    .li:not(.li-with-submenu) .a {
      font-family: var(--base-bold);
      font-size: var(--base);
    }

    .a,
    .span {
      font-size: var(--fs-md);
      display: block;
    }

    .span {
      font-size: var(--fs-base);
      font-family: var(--base-bold);
    }

    nav.active .a,
    nav.active .span {
      transform: translateY(80%);
      opacity: 0;
      animation: rise-up 0.5s ease-out forwards;
      animation-delay: 0.5s;
    }

    @keyframes rise-up {
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
  /* DESKTOP */

  @media (min-width: 1024px) {
    .ul {
      display: flex;
      gap: 2rem;
    }

    .a {
      transition: color 0.5s ease;
      font-size: var(--fs-md);
    }

    .a:hover {
      color: var(--primary);
    }
  }
</style>
