---
import { Image } from "astro:assets";
import logo from "@/assets/mark/logo.png";
import HeaderNav from "@/components/HeaderNav.astro";
import MenuMobileBtn from "@/components/MenuMobileBtn.astro";
---

<header>
  <div class="header-wrap wrapper">
    <a href="/">
      <Image loading="eager" width={80} height={80} src={logo} alt="logo" />
    </a>

    <HeaderNav />

    <MenuMobileBtn />
  </div>
</header>

<style>
  header {
    padding: 0.5rem 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid var(--gray);
    background: rgba(255, 255, 255, 0.7); /* Color semitransparente */
    -webkit-backdrop-filter: blur(10px); /* Compatibilidad con Safari */
    backdrop-filter: blur(10px); /* Aplica el desenfoque */
    z-index: 1000;
    min-height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    max-width: 2.5rem;
  }

  .header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>
