---
import { services } from "@/data/services";
import MainCta from "@/components/MainCta.astro";
import LinkExternal from "@/components/icons/LinkExternal.astro";
import Check from "@/components/icons/Check.astro";
---

<ul>
  {
    services.map(({ name, description, link, phrase }) => {
      return (
        <li>
          <h3>{name}</h3>
          <h4>{phrase}</h4>
          <p>{description}</p>
          <a href={link}>
            <span>ir a la página</span>
            <LinkExternal />
          </a>

          <MainCta modifier="services">
            Contratar
            <Check />
          </MainCta>
        </li>
      );
    })
  }
</ul>

<style>
  ul {
    margin: 3rem 0 0;
    display: grid;
    gap: 1rem;
  }

  li {
    background-color: var(--third);
    padding: 1rem;
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: var(--shadow);
    position: relative;
  }

  h3 {
    font-size: var(--fs-md);
    color: var(--primary);
  }

  h4 {
    font-size: var(--fs-xl);
  }

  p,
  a {
    font-size: var(--fs-sm);
  }

  a {
    color: var(--dark-500);
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  img {
    position: absolute;
    max-width: 4rem;
    right: 0;
    bottom: 0;
  }

  /* DESKTOP */

  @media (min-width: 1024px) {
    ul {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
    }

    li:nth-child(1) {
      grid-column: 1 / 4;
    }

    li:nth-child(2) {
      grid-column: 4/7;
    }

    li:nth-child(3) {
      grid-column: 1 / span 2;
    }

    li:nth-child(4) {
      grid-column: 3 / span 2;
    }

    li:nth-child(5) {
      grid-column: 5 / span 2;
    }

    li:nth-child(6) {
      grid-column: 1 / span 2;
    }

    li:nth-child(7) {
      grid-column: 3 / span 2;
    }

    li:nth-child(8) {
      grid-column: 5 / span 2;
    }
  }
</style>
