---
import { targets } from "@/data/targets";
import { Image } from "astro:assets";
---

<ul>
  {
    targets.map(({ description, icon, title }) => {
      return (
        <li>
          <h3>
            <Image src={icon} alt={`icono de ${title}`} />
            <span>{title}</span>
          </h3>
          <p>{description}</p>
        </li>
      );
    })
  }
</ul>

<style>
  ul {
    margin: 3rem 0 0;
    display: grid;
    gap: 2rem;
  }

  li {
    display: grid;
    gap: 1rem;
  }

  h3 {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: var(--fs-xl);
  }

  img {
    max-width: 2.5rem;
  }

  p {
    font-size: var(--fs-md);
  }

  /* DESKTOP */

  @media (min-width: 1024px) {
    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
