---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import { MainModalForm } from "@/components/preact/MainModalForm";
import "@/styles/global.css";
import "@/styles/utils.css";
import { ClientRouter } from "astro:transitions";
import logo from "@/assets/mark/logo.png";
import FloatMobileBtn from "@/components/FloatMobileBtn.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href={logo.src} />
    <ClientRouter />
    <title>Astro Basics</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <MainModalForm client:load />
    <FloatMobileBtn />
    <Footer />
  </body>
</html>
