---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import { MainModalForm } from "@/components/preact/MainModalForm";
import "@/styles/global.css";
import "@/styles/utils.css";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <ClientRouter />
    <title>Astro Basics</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <MainModalForm client:load />
    <Footer />
  </body>
</html>
