---
import Layout from "@/layouts/Layout.astro";
import "@/styles/legal-texts.css";
---

<Layout metaDescription="" metaTitle="Página Legal" ogImage="" noIndex>
  <section class="legal-texts wrapper">
    <slot />
  </section>
</Layout>

<style>
  section {
    min-height: 100dvh;
    margin-top: 8rem;
  }
</style>
