---
import AdsLayout from "@/layouts/AdsLayout.astro";
import HeroAds from "@/components/HeroAds.astro";
import PainCards from "@/components/PainCards.astro";
import Heading from "@/components/Heading.astro";
import Section from "@/components/Section.astro";
---

<AdsLayout
  metaTitle="Informe pericial médico para tu reclamación | Laura Buendía"
  metaDescription="Valoración del daño corporal e informes periciales médicos para reclamar la indemnización que te corresponde. Solicita un estudio de viabilidad sin compromiso."
>
  <HeroAds />
  <Section>
    <Heading>Lorem ipsum dolor sit amet consectetur</Heading>
    <PainCards />
  </Section>
</AdsLayout>
